.App {
  height: 100%;
  width: 100%;
}
.top-toolbar {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  background-color: #383838;
}
.top-toolbar .login-button {
  margin: 5px;
  height: 30px;
  width: 70px;
}
.form-container {
  margin-top: 25px;
  margin-left: 15px;
  position: absolute;
  z-index: 999;
}
